@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Anonymous Pro', monospace;
}

.header {
  background: linear-gradient(#9198e5, #52d6d3);
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bold {
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}

.info {
  color: #5968b1;
  width: 100%;
  padding: 1em 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  text-align: left;
}

.info a, .faq a {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #302579;
}

.info p {
  max-width: 1000px;
}

.faq {
  background-color: #5968b1;
  color: white;
  width: 100%;
  padding: 1em 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  
}

.faqContainer {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.faqColumn {
  width: 450px;
  font-size: .75em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faqQuestion {
  font-weight: 700;
  font-size: 1.5em;
}